@model MiniaturesRUs.Models.Person

@{
    ViewBag.Title = "Details";
}
@section Styles {
    <link href="@Url.Content("~/Content/user-profile-page.css")" rel="stylesheet" type="text/css" />
}
<h2>Details</h2>

<!-- nav bar -->
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container">
    <div class="row">
        <div class="col-sm-3">
            <a href="mail-compose.html" class="btn btn-danger btn-block btn-compose-email">Compose Email</a>
            <ul class="nav nav-pills nav-stacked nav-email shadow mb-20">
                <li class="active">
                    <a href="#mail-inbox.html">
                        <i class="fa fa-inbox"></i> Inbox  <span class="label pull-right">7</span>
                    </a>
                </li>
                <li>
                    <a href="#mail-compose.html"><i class="fa fa-envelope-o"></i> Send Mail</a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-certificate"></i> Important</a>
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-file-text-o"></i> Drafts <span class="label label-info pull-right inbox-notification">35</span>
                    </a>
                </li>
                <li><a href="#"> <i class="fa fa-trash-o"></i> Trash</a></li>
            </ul><!-- /.nav -->
            <h5 class="nav-email-subtitle">More</h5>
            <ul class="nav nav-pills nav-stacked nav-email mb-20 rounded shadow">
                <li>
                    <a href="#">
                        <i class="fa fa-folder-open"></i> Orders  <span class="label label-danger pull-right">3</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-folder-open"></i> Owned
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-folder-open"></i> Wish list
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-folder-open"></i> Watch List
                    </a>
                </li>
            </ul><!-- /.nav -->
        </div>
        <div class="col-sm-9">

            <!-- resumt -->
            <div class="panel panel-default">
                <div class="panel-heading resume-heading">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="col-xs-12 col-sm-4">
                                <figure>
                                    <img class="img-circle img-responsive" alt="" src="http://placehold.it/300x300">
                                </figure>
                                <div class="row">
                                    <div class="col-xs-12 social-btns">
                                        <div class="col-xs-3 col-md-1 col-lg-1 social-btn-holder">
                                            <a href="#" class="btn btn-social btn-block btn-google">
                                                <i class="fa fa-google"></i>
                                            </a>
                                        </div>
                                        <div class="col-xs-3 col-md-1 col-lg-1 social-btn-holder">
                                            <a href="#" class="btn btn-social btn-block btn-facebook">
                                                <i class="fa fa-facebook"></i>
                                            </a>
                                        </div>
                                        <div class="col-xs-3 col-md-1 col-lg-1 social-btn-holder">
                                            <a href="#" class="btn btn-social btn-block btn-twitter">
                                                <i class="fa fa-twitter"></i>
                                            </a>
                                        </div>
                                        <div class="col-xs-3 col-md-1 col-lg-1 social-btn-holder">
                                            <a href="#" class="btn btn-social btn-block btn-linkedin">
                                                <i class="fa fa-linkedin"></i>
                                            </a>
                                        </div>
                                        <div class="col-xs-3 col-md-1 col-lg-1 social-btn-holder">
                                            <a href="#" class="btn btn-social btn-block btn-github">
                                                <i class="fa fa-github"></i>
                                            </a>
                                        </div>
                                        <div class="col-xs-3 col-md-1 col-lg-1 social-btn-holder">
                                            <a href="#" class="btn btn-social btn-block btn-stackoverflow">
                                                <i class="fa fa-stack-overflow"></i>
                                            </a>
                                        </div>
                                    </div>


                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-8">
                                <ul class="list-group">
                                    <li class="list-group-item">@Model.UserName</li>
                                    @if (Model.FavoriteGame != null)
                                    {
                                        <li class="list-group-item">@Model.FavoriteGame</li>

                                    }
                                    @if (Model.NickName != null)
                                    {
                                        <li class="list-group-item">@Model.NickName</li>

                                    }
                                    @if (Model.PhoneNumber != null)
                                    {
                                        <li class="list-group-item"><i class="fa fa-phone"></i> @Model.PhoneNumber </li>

                                    }
                                    <li class="list-group-item"><i class="fa fa-envelope"></i> john@example.com</li>
                                </ul>
                            </div>
                            <div class="col-md-2">
                                <input type="submit" class="profile-edit-btn" name="btnAddMore" value="Edit Profile" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="bs-callout bs-callout-danger">
                    @if (Model.Bio != null)
                    {
                        <h4>Bio</h4>
                        <p>
                            @Model.Bio
                        </p>
                    }
                </div>
                <div class="bs-callout bs-callout-danger">
                    @if (Model.FactionFanFiction != null)
                    {
                        <h4>Fan Fiction Faction Background</h4>
                        <p>
                            @Model.FactionFanFiction
                        </p>
                    }

                </div>
                <div class="bs-callout bs-callout-danger">
                    @if (Model.PastExperience != null)
                    {
                        <h4>Prior Experiences</h4>
                        <ul class="list-group">
                            <a class="list-group-item inactive-link" href="#">
                                <h4 class="list-group-item-heading">
                                    What I've done
                                </h4>
                                <p class="list-group-item-text">
                                    @Model.PastExperience
                                </p>
                            </a>]
                        </ul>
                    }
                </div>
                <div class="bs-callout bs-callout-danger">
                    @if (Model.Expertise != null)
                    {
                        <h4>Key Expertise</h4>
                        <ul class="list-group">
                            @foreach (string expertise in Model.Expertise)
                            {
                                <li class="list-group-item">@expertise</li>
                            }
                        </ul>
                    }

                </div>
            </div>
        </div>
        <!-- resume -->
    </div>
</div>